$size-xs: 480px;
$size-sm: 768px;
$size-md: 992px;
$size-lg: 1200px;
$size-xl: 1600px;

$size-xs-max: $size-sm - 1px;
$size-sm-max: $size-md - 1px;
$size-md-max: $size-lg - 1px;
$size-lg-max: $size-xl - 1px;



/* Extra Small Devices, Phones */
    @mixin mobile-and-up {
        @media only screen and (min-width : $size-xs) {
            @content;
        }
    }

    @mixin mobile-only {
        @media only screen and (max-width : $size-xs-max) {
            @content;
        }
    }
    

/* Small Devices, Tablets */
    @mixin tablet-and-up {
        @media only screen and (min-width : $size-sm) {
            @content;
        }
    }

    @mixin tablet-only {
        @media only screen and (min-width : $size-sm) and (max-width: $size-sm-max) {
            @content;
        }
    }

/* Medium Devices, Desktops */
    @mixin medium-and-up {
        @media only screen and (min-width : $size-md) {
            @content;
        }
    }

    @mixin medium-only {
        @media only screen and (min-width : $size-md) and (max-width: $size-md-max) {
            @content;
        }
    }

/* Large Devices, Wide Screens */
    @mixin large-and-up {
        @media only screen and (min-width : $size-lg) {
            @content;
        }
    }

    @mixin large-only {
        @media only screen and (min-width : $size-lg) and (max-width: $size-lg-max) {
            @content;
        }
    }

/* Large Devices, Wide Screens */
    @mixin xl-and-up {
        @media only screen and (min-width: $size-xl) {
            @content;
        }
    }